gunicorn==20.1.0
Django==4.2
djangorestframework==3.14.0
django-cors-headers==3.14.0
whitenoise==6.4.0
opencv-python==4.7.0.72
cvzone==1.5.0
ultralytics==8.0.60
smtplib==3.6.0
django-environ==0.10.0
google-generativeai==0.2.0
